<footer class="row footer text-center">
  <div class="col-lg-5">
    <p>ALFRED RIDESHAIRING LTD | COPYRIGHT © 2016</p>
  </div>
  <div class="col-lg-7 visible-lg text-right">
  		<a href="<%= home_privacy_policy_path %>">PRIVACY POLICY</a>
  		<a href="<%= home_faq_path %>">FAQ</a>
  		<a href="<%= home_code_of_conduct_path %>">CODE OF CONDUCT</a>
  		<a href="<%= home_terms_and_conditions_path %>">TERMS AND CONDITIONS</a>
  </div>
</footer>
