<footer class="row footer text-center">
  <div class="col-lg-5">
    <p>ALFRED RIDESHAIRING LTD | COPYRIGHT © 2016</p>
  </div>
  <div class="col-lg-7 visible-lg text-right">
  		<a href="">PRIVACY POLICY</a>
  		<a href="">FAQ</a>
  		<a href="">CODE OF CONDUCT</a>
  		<a href="">TERMS AND CONDITIONS</a>
  </div>
</footer>
