<section class="row section-one" id="home">
	<div class="col-lg-12 text-center">
    <h1 class="section-title">ALFRED: LET’S COMMUTE TOGETHER</h1>
		<p class="section-content1">
			ALFRED AIMS TO PROVIDE AN ALTERNATIVE FORM OF TRANSPORT FOR
			<br/>
			THE URBAN POPULATION IN THE FORM OF RIDESHARING.
			<br/>
			ALFRED HELPS YOU TO SHARE OR JOIN A RIDE AT THE TAP OF A BUTTON
		</p>
		<div class="content-btn-section1">
			<button type="button" class="btn btn-default btn-find-out-more" id="btn_find_out_more_show" data-toggle="modal" data-target="#myModal">FIND OUT MORE</button>
			<button type="button" class="btn btn-default btn-find-out-more" id="btn_find_out_more_hidden" data-toggle="modal" data-target="#myModal">JOIN ALFRED'S COMMUNITY</button>
		</div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">
	        	ALFRED - Live Urban Ridesharing
	        </h4>
	      </div>
	      <div class="modal-body">
	        <p style="color: black;">
	        	Alfred was created to solve a well-known problem. In the UK there are over 30 million empty car seats every day. If those seats were occupied, congestion on the road would be reduced as well as CO2 emissions. We would probably not hear of overcrowding in our public transport. Alfred is a solution to our daily commute problems! Alfred is the first cool “live urban ridesharing” mobile app which helps to facilitate its users to ride share and join rides at the tap of a button.
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
	      </div>
	    </div>
	  </div>
	</div>
</section>
