.wrapper{style:"background-color:#32AEBA;color:white;padding-top:150px;"}
  .container
    %h2 Code of Conduct
    %p.MsoNormal{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:141.75pt;text-align:justify;line-height:normal"}
      %b
        %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}  
    %p.MsoNormal{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;text-align:justify;line-height:normal"}
      %b
        %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
          We only want to know about you!!
    %p.MsoNormal{:style => "margin-bottom:7.5pt;line-height:normal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
        When you register with Alfred please only give us genuine information about you. We do not want to know anything about your neighbours!
        Please do not forget that you need to be 18 to use Alfred! By the way, only create one profile per user!
    %p.MsoNormal{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;text-align:justify;line-height:normal"}
      %b
        %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
          Be sure your watch is on time!
    %p.MsoNormal{:style => "margin-bottom:7.5pt;line-height:normal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
        When you book a journey through Alfred, please be sure to be on time!! Someone is waiting for you around the corner!
    %p.MsoNormal{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;text-align:justify;line-height:normal"}
      %b
        %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
          Good drivers only allowed!
    %p.MsoNormal{:align => "center", :style => "margin-bottom:7.5pt;text-align:center;\r\nline-height:normal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
        We want you to follow the rules of the road and take care of your follow passenger and others. We only want to have the best drivers in town! We are not interested to find the new Juan Manuel Fangio! Users are responsible for their own safety. Users are encouraged to carefully read the review and ratings concerning the users they are travelling with.
    %p.MsoNormal{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;text-align:justify;line-height:normal"}
      %b
        %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
          Good passenger only allowed!
    %p.MsoNormal{:style => "margin-bottom:7.5pt;text-align:justify;line-height:\r\nnormal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
        This is not your car! So please behave. Fasten your seat belt and enjoy the ride.
        Respect your Alfred and do not jump on the steering wheels! You are the passenger! Do not put your feet on the dashboard and stay clean and tidy! Smile!
    %p.MsoNormal{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;text-align:justify;line-height:normal"}
      %b
        %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"} Our principles!
    %p.MsoNormal{:style => "margin-bottom:7.5pt;line-height:normal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}
        Alfred is a community of desirable users and nothing else! Alfred is a platform which enables drivers and passengers to meet and travel together toward the same direction.
        Our principles are every simple:
    %p.MsoListParagraphCxSpFirst{:style => "margin-bottom:7.5pt;text-indent:-.25in;\r\nline-height:normal"}
      %ul
        %li Share your culture and way of life, become friends!
        %li Build up new relationships.
        %li Be tolerant and respectful of values, traditions, cultures and religion.
        %li Be open minded and discover new things.
        %li Smile and be kind to your fellow travel companion.

    %p.MsoNormal{:style => "margin-bottom:7.5pt;line-height:normal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";"}  
    %p.MsoNormal{:align => "center", :style => "margin-bottom:7.5pt;text-align:center;\r\nline-height:normal"}
      %span{:style => "font-size:11.5pt;font-family:\"Open Sans\";\r\ncolor:black"}  
    %p.MsoNormal
      %span{:lang => "EN"}  
    %p.MsoNormal

:css
  @font-face
   {font-family:Helvetica;
   panose-1:2 11 6 4 2 2 2 2 2 4;}
  @font-face
   {font-family:Wingdings;
   panose-1:5 0 0 0 0 0 0 0 0 0;}
  @font-face
   {font-family:"Cambria Math";
   panose-1:2 4 5 3 5 4 6 3 2 4;}
  @font-face
   {font-family:Calibri;
   panose-1:2 15 5 2 2 2 4 3 2 4;}
  @font-face
   {font-family:Tahoma;
   panose-1:2 11 6 4 3 5 4 4 2 4;}
  @font-face
   {font-family:"Open Sans";}
  /* Style Definitions */
  p.MsoNormal, li.MsoNormal, div.MsoNormal
   {margin-top:0in;
   margin-right:0in;
   margin-bottom:10.0pt;
   margin-left:0in;
   line-height:115%;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  p
   {margin:0in;
   margin-bottom:.0001pt;
   font-size:12.0pt;
   font-family:"Times New Roman","serif";}
  p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
   {mso-style-link:"Balloon Text Char";
   margin:0in;
   margin-bottom:.0001pt;
   font-size:8.0pt;
   font-family:"Tahoma","sans-serif";}
  p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
   {margin-top:0in;
   margin-right:0in;
   margin-bottom:10.0pt;
   margin-left:.5in;
   line-height:115%;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
   {margin-top:0in;
   margin-right:0in;
   margin-bottom:0in;
   margin-left:.5in;
   margin-bottom:.0001pt;
   line-height:115%;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
   {margin-top:0in;
   margin-right:0in;
   margin-bottom:0in;
   margin-left:.5in;
   margin-bottom:.0001pt;
   line-height:115%;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
   {margin-top:0in;
   margin-right:0in;
   margin-bottom:10.0pt;
   margin-left:.5in;
   line-height:115%;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  span.BalloonTextChar
   {mso-style-name:"Balloon Text Char";
   mso-style-link:"Balloon Text";
   font-family:"Tahoma","sans-serif";}
  .MsoChpDefault
   {font-family:"Calibri","sans-serif";}
  .MsoPapDefault
   {margin-bottom:10.0pt;
   line-height:115%;}
  @page WordSection1
   {size:595.3pt 841.9pt;
   margin:1.0in 1.0in 1.0in 1.0in;}
  div.WordSection1
   {page:WordSection1;}
  /* List Definitions */
  ol
   {margin-bottom:0in;}
  ul
   {margin-bottom:0in;}
