.wrapper{style:"background-color:#32AEBA;color:white;padding-top:150px;"}
  .container
    %h2 FAQ for Alfred
    %p.MsoNormal{:style => "text-align:justify"}
      %u
        %span{:lang => "EN-GB"} Alfred:
    %p.MsoListParagraphCxSpFirst{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          1.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"}
          What is car sharing or ride sharing and why we need it?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        This is the sharing of a car with the aim to reduce the number of cars on the road and as a consequence the traffic and pollution.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          2.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} What is the sharing economy?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        This is a type of economic model in which people are able to use, rent, and borrow assets owned by somebody else. This is a model which contributes toward the reduction of the cost of a service or an asset.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          3.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} What is the benefit of car sharing?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Congestion and CO2 emissions have become two major issues nowadays and by reducing the number of cars in our city we will improve our quality of life.
        The major benefit of car sharing is that it saves money for everyone using it.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          4.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Who are we and what is Alfred?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred has been developed by two entrepreneurs.
        Alfred is an urban car sharing mobile app which will help people to connect with each other's and commute together. Alfred will help commuters to reduce commuting costs.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          5.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Why Alfred is different from others?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred is a ridesharing application. This not a taxi service or a web based car sharing service.
        This is an on-demand mobile app enabling people to share a journey at the touch of a button. Alfred will enable commuters to reduce their daily costs.
        Think of it as a "super" cheap way of commuting!
        This is Alfred.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          6.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} What is the concept?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred is a unique concept in the UK as it will be the first mobile app to allow on-demand ride sharing.
        It has adopted an "uber style" interface with people able to see live and active rides on the Alfred map for users to access.
        Users can filter relevant rides going towards their destination, allowing them to instantly join other users already heading in the same direction.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          7.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"}
          I do not have a car, can I still use Alfred?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Of course yes! Just be a passenger and travel with an Alfred.
        Imagine going to Stansted airport for a "fiver"!!
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          8.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Is it safe to travel with a stranger?
    %p.MsoListParagraphCxSpLast{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        This
        is not a stranger as you will be able to see reviews, ratings, comments etc. etc ..before traveling.
        Please note that you will be responsible for choosing your Alfred.
        We recommend not exchanging any private information and meeting in public.
        You are not obliged to take a passenger or get in a car if you do not feel safe!
        Remember that you can select a female or male driver /passenger.
        Drivers will be asked to provide some identification when registering.
    %p.MsoNormal{:style => "text-align:justify"}
      %u
        %span{:lang => "EN-GB"}
          Be an Alfred member:
    %p.MsoListParagraphCxSpFirst{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          1.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} How do I become a member?
    %p.MsoListParagraphCxSpMiddle{:style => "margin-left:35.45pt;text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred is available on the app store and Google play to anyone over 18!.
        It's free to download. The process is fairly simple to register as a passenger or a driver or even both! You will be asked to provide a photo of your driving licence and insurance if you want to be a driver.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          2.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Can I be a passenger or a driver or both?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"} You can register as both and use Alfred alternatively.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          3.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Is it legal?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        From a legal point of view the driver is not permitted to make a profit when providing a lift. Drivers can legally receive a contribution towards their running costs. The driver must not act as a taxi service and fares must be decided and agreed in advance.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          4.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Costs.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Cost is decided in advance by the driver and accepted by the
        passenger.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Britain is one of the most expensive places in the world to run a car.
        It would cost you f4200 annually if you cross the congestion charge in London every day.
        Petrol cost, insurance, depreciation, wear and tear, parking costs, car service... Etc. add up! A driver is entitled to receive compensation towards his running costs. The compensation towards costs must fully respect the approved mileage payment allowance established by HMRC:
        %a{:href => "https://www.gov.uk/expenses-and-benefits-business-travel-mileage/rules-for-tax"} https://www.gov.uk/expenses-and-benefits-business-travel-mileage/rules-for-tax
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        The concept of car sharing is that passenger and driver benefit
        equally.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        A booking fee is charged each time a journey has taken place. This represents 10% of the cost contribution.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          5.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Insurance?
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        As long as car sharing does not represent a commercial agreement there are not any insurance implications. We recommend that you check your insurance and tell them that you participate in a car sharing scheme.
        The Association of British insurance has agreed that car insurance won't be affected as long as the driver only receives a contribution towards his own costs and no more than 8 passengers seat in the car.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"} https://www.abi.org.uk/Insurance-and-savings/Products/Motor-insurance/Car-sharing-and-insurance
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          6.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Trust & safety.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred is aiming to develop a "desirable" people community.
        Every member is responsible for his or her own safety. Alfred users must use their real identities when registering and we expect users to behave with care & diligence towards other users.
        Drivers and passengers must act respectfully towards each other. We recommend Alfred's users to follow basic rules as:
    %ul{style:"margin-left:.5in"}
      %li Do not share personal details with your ride sharer.
      %li Always meet in a public place.
      %li Text your friends & family the registration number of the driver.
      %li You are not obliged to get in a car if you do not feel safe.
      %li Always rate the person you are traveling with.

    %p.MsoListParagraphCxSpMiddle{:style => "margin-left:1.0in;text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred does not and will not permit any illegal use of its services.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify;text-indent:-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          7.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Driving and the law.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}
        Drivers must comply with the Highway Code.
        = succeed "." do
          %a{:href => "https://www.gov.uk/guidance/the-highway-code"} https://www.gov.uk/guidance/the-highway-code
        Alfred will ban members if they do not respect the highway Code.
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpMiddle{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpLast{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoNormal{:style => "text-align:justify"}
      %u
        %span{:lang => "EN-GB"} How it works:
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          1.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} How do I book?
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred will be able to facilitate both inner city travel and long distant city-city travel. There are 2 ways users can book an Alfred:

    %ul{style:"margin-left:.5in"}
      %li
        Alfred map; an on-demand service that actively and dynamically finds an instant ride to join , which is heading to or passing the passenger's destination.
        When a driver declares a ride, his car will appear on the map.
        A passenger will request a ride and will only see on the Alfred map suitable drivers going toward the same direction.
      %li
        Alfred Message board; this is for advertising or requesting journeys such as an airport journey or travel in the evening from one city to another.
        Generally this feature will be used for planned future journeys.
        A driver would advertise a journey with some details as its start and end point, the date at which he wishes to travel, the number of seats available, the price per seat and if he wants to travel with a male or female.
        A passenger would request a journey by entering his starting and end point and the date at which he wishes to travel.
        The passenger can as well choose to travel with a male or female.
        The passenger does not decide of the cost.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          2.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} How do I cancel a journey?
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        When the ride has been booked, both parties will have ten minutes for cancelling a booking.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          3.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} How do I pay?
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        There is a wallet system where users will need to register their credit or debit card. All payments are made through
        = succeed "." do
          %a{:href => "https://stripe.com/gb"} Stripe
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          4.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} Is the price always guaranteed?
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        As soon as a booking is made the price has been agreed and so will not be changed.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          5.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"}
          Can I contact the driver or pick up if I want to make a change.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        During the booking process, drivers and passengers are able to communicate through a messaging system.
        When booked the phone number of both parties is revealed to each other.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          6.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} Can female travel only with female?
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        Yes. The option is available. Please remember that male drivers are also good too!!
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          7.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} Could the driver have more than one passenger?
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        Yes but no more than 8 passengers are allowed.

    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          8.
          %span{:style => "font:7.0pt \"Times New Roman\""}
                  
      %b
        %span{:lang => "EN-GB"} Is there a review & rating process?
    %p.MsoListParagraph
      %span{:lang => "EN-GB"}
        At the end of each journey both driver and passenger will rate each other. We aim to build a safe users community and the "baddy" will not stay with us. When you rate your ride sharer you must give a fair review and rating.
        It's important that users do not leave personally identifiable information in a review such as a person's name or address.
        In addition to reviews, users will be able to leave star ratings.
        Please remember to use Alfred wisely in order to stay with us.
        Alfred reserves the right, at its own discretion to suspend or terminate an account.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          9.
          %span{:style => "font:7.0pt \"Times New Roman\""}                  
      %b
        %span{:lang => "EN-GB"} Privacy and data protection:
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        Alfred Car sharing ltd ("Alfred") will only collect information needed in relation to the purpose of Alfred and in compliance with the Data Protection act 1998.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}
        %a{:href => "https://ico.org.uk/for-organisations/guide-to-data-protection/data-protection-principles/"} https://ico.org.uk/for-organisations/guide-to-data-protection/data-protection-principles/
    %p.MsoListParagraph
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify;text-indent:\r\n-.25in;margin-left:.4in"}
      %b
        %span{:lang => "EN-GB"}
          10.
          %span{:style => "font:7.0pt \"Times New Roman\""}
              
      %b
        %span{:lang => "EN-GB"} Alfred responsibility:
    %p.MsoListParagraph
      %span{:lang => "EN-GB"}
        Alfred is a communication and ride sharing platform which enables its users to connect and communicate between each other's.
        Alfred is not a transport or taxi company!!
        Therefore Alfred cannot be held responsible for any arrangements that falls through. Users must acts responsibly towards each other.
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpFirst{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
    %p.MsoListParagraphCxSpLast{:style => "text-align:justify"}
      %span{:lang => "EN-GB"}  
:css
  @font-face{font-family:"Wingdings";panose-1:5 0 0 0 0 0 0 0 0 0;}
  @font-face{font-family:"Cambria Math";panose-1:2 4 5 3 5 4 6 3 2 4;}
  @font-face{font-family:Calibri;panose-1:2 15 5 2 2 2 4 3 2 4;}
  @font-face
  	{font-family:Tahoma;
  	panose-1:2 11 6 4 3 5 4 4 2 4;}
  @font-face
  	{font-family:Verdana;
  	panose-1:2 11 6 4 3 5 4 4 2 4;}
  /* Style Definitions */
  p.MsoNormal, li.MsoNormal, div.MsoNormal
  	{margin-top:0in;
  	margin-right:0in;
  	margin-bottom:10.0pt;
  	margin-left:0in;
  	line-height:115%;
  	font-size:11.0pt;
  	font-family:"Calibri","sans-serif";}
  a:link, span.MsoHyperlink
  	{color:blue;
  	text-decoration:underline;}
  a:visited, span.MsoHyperlinkFollowed
  	{color:purple;
  	text-decoration:underline;}
  p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
  	{mso-style-link:"Balloon Text Char";
  	margin:0in;
  	margin-bottom:.0001pt;
  	font-size:8.0pt;
  	font-family:"Tahoma","sans-serif";}
  p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
  	{margin:0in;
  	margin-bottom:.0001pt;
  	font-size:11.0pt;
  	font-family:"Calibri","sans-serif";}
  p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
  	{margin-top:0in;
  	margin-right:0in;
  	margin-bottom:10.0pt;
  	margin-left:.5in;
  	line-height:115%;
  	font-size:11.0pt;
  	font-family:"Calibri","sans-serif";}
  p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
  	{margin-top:0in;
  	margin-right:0in;
  	margin-bottom:0in;
  	margin-left:.5in;
  	margin-bottom:.0001pt;
  	line-height:115%;
  	font-size:11.0pt;
  	font-family:"Calibri","sans-serif";}
  p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
  	{margin-top:0in;
  	margin-right:0in;
  	margin-bottom:0in;
  	margin-left:.5in;
  	margin-bottom:.0001pt;
  	line-height:115%;
  	font-size:11.0pt;
  	font-family:"Calibri","sans-serif";}
  p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
  	{margin-top:0in;
  	margin-right:0in;
  	margin-bottom:10.0pt;
  	margin-left:.5in;
  	line-height:115%;
  	font-size:11.0pt;
  	font-family:"Calibri","sans-serif";}
  p.Default, li.Default, div.Default
  	{mso-style-name:Default;
  	margin:0in;
  	margin-bottom:.0001pt;
  	text-autospace:none;
  	font-size:12.0pt;
  	font-family:"Calibri","sans-serif";
  	color:black;}
  span.BalloonTextChar
  	{mso-style-name:"Balloon Text Char";
  	mso-style-link:"Balloon Text";
  	font-family:"Tahoma","sans-serif";}
  .MsoChpDefault
  	{font-family:"Calibri","sans-serif";}
  .MsoPapDefault
  	{margin-bottom:10.0pt;
  	line-height:115%;}
  @page WordSection1
  	{size:595.3pt 841.9pt;
  	margin:1.0in 1.0in 1.0in 1.0in;}
  div.WordSection1
  	{page:WordSection1;}
  /* List Definitions */
  ol
  	{margin-bottom:0in;}
  ul
  	{margin-bottom:0in;}
